<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title> 📝
        <%= article.title %>
    </title>
</head>

<body>
    <div class="container" style="max-width: 70%;">



        <h1 class="mb-1">
            <%= article.title %>
        </h1>

        <% for(var i=0; i < article.tags.length ; i++) { %>
            <a href="/categories/<%= article.tags[i] %>">
                <span class="badge badge-primary" style="color : #252525 !important; background-color: aliceblue !important; ">
                <%= article.tags[i] %>
            </span>
            </a>
            <% } %>

                <div class="text-muted mb-2">
                    <%= article.createdAt.toLocaleDateString() %>
                </div>

                <a href="/" class="btn btn-secondary">All Articles</a>
                <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                <form action="/articles/<%= article.id %>?_method=DELETE" class="d-inline" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

                <div class="mb-3 mt-4">
                    <%- article.sanitisedHTML %>
                </div>
    </div>
</body>

</html>